@using Models;
@model List<About>
@{
	Layout = null;
}
@foreach (var item in Model)
{
    <section class="hero" id="home">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 profile-pic">
                <div class="image clip-animation from-left" style="background-image: url(@item.Image);">
                    <img src="images/profile.jpg" alt="">
                </div>
                <div class="social-links clip-animation">
                    <ul>
                        <li><a href="#" target="_blank">Fb.</a></li>
                        <li><a href="#" target="_blank">Tw.</a></li>
                        <li><a href="#" target="_blank">Ins.</a></li>
                        <li><a href="#" target="_blank">Drb.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-6 right-content">
                <h5 class="hi classic-animation" data-delay=".5">Hello Everyone <span>👋</span></h5>
                <div class="spacer-15"></div>
                <h1 class="hero-big classic-animation" data-delay=".7">
                    I'm David Fincher<br> I am a<span class="element" data-values=" developer.,  designer.,  manager., " data-loop="true"
                                                      data-backdelay="2">web interface.</span>
                </h1>
                <div class="spacer-30"></div>
                <hr class="clip-animation" data-delay="1">
                <ul class="row profile-info clip-animation" data-delay="1">
                    <li class="col-xl-4 col-lg-6"> <i class="far fa-calendar-alt"></i> <span>@item.Profile</span></li>
                    <li class="col-xl-4 col-lg-6">
                        <a target="_blank" href="https://wa.me/987654321">
                            <i class="fa-brands fa-whatsapp"></i> <span>@item.Phone</span>
                        </a>
                    </li>
                    <li class="col-xl-4 col-lg-6">
                        <a target="_blank" href="mailto:example.email.com">
                            <i class="fa-solid fa-at"></i> <span>@item.Email</span>
                        </a>
                    </li>
                    <li class="col-xl-4 col-lg-6">
                        <i class="fa-solid fa-location-dot"></i> <span>
                            New York, United
                            States
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="spacer-30"></div>
        <p class="clip-animation" data-delay="1.1">
          @item.Description
        </p>


    </section>
}

